body {
    background-color: black;
    font-size: 1.1em;
    font-family: sans-serif;
    margin: 0;
    color: white;
}


h1 {
    font-size: 3em;
    font-family: monospace;
    margin-bottom: 0;
}

h3 {
    font-size: 2em;
    font-family: monospace;
}

div.clearFix {
    clear: both;
}

div#content {
    text-align: center;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav {
    background-color: black;
    padding: 10px;
    margin: 0;
    text-align: center;
}

a {
    text-decoration: none;
}

nav a {
    color: white !important;
    font-family: monospace;
    font-size: 1.5em;
    font-weight: bold;
}
nav a:hover {
    color: lightblue !important;
}
nav a:active {
    color: grey !important;
}

a#projectsLink {
    float: left;
    margin-left: 20px;
}

a#infoLink {
    float: right;
    margin-right: 20px;
}

img.art {
    max-width: 100%;
    width: 500px;
    margin-top: 32px;
}

a.pink { 
    color: fuchsia;
}

.art-desc {
    text-align: left;
    margin-top: 8px;
}
