a:link, a:visited {
    color:white;
}
a:hover, a:active {
    color:grey;
}

h4 {
    font-size: 1.3em;
    font-family: monospace;
    margin: 25px;
}

img#me {
    max-width: 20em;
    width: 75%;
}

section {
    text-align: left;
    max-width: 45em;
    display: inline-block;
}
p.links {
    font-size: 1.1em;
}

