a:link {text-decoration: none; font-size:1.6em; color:white;}      /* unvisited link */
a:visited {text-decoration: none; font-size:1.6em; color:white;}  /* visited link */
a:hover {text-decoration: none; font-size:1.6em; color:green;}  /* mouse over link */
a:active {text-decoration: none; font-size:1.6em; color:grey;}  /* selected link */

img {
	position:absolute;
	width:110px;
	height:90px;
}
body {
	background:#000;
	overflow:auto;
	overflow-x:hidden;
	overflow-y:hidden;
}
.container {
	position:relative;
	width:100%;
	height:100%;
	vertical-align:middle;
	font-family: "Courier New", "Lucida Console", Arial;
}

.left {
	text-size:1em;
	position:absolute;
	width:100px;
	top:49%;
	left:20%;
	height:100px;
	text-align:center;
}

.right {
	position:absolute;
	width:100px;
	top:49%;
	right:20%;
	height:100px;
	text-align:center;
}
