body {
    background-color: lightblue;
}

div.projectBlock {
    display: inline-block;
    vertical-align: top;
    margin: 25px;
}

div.projectText {
    width: 500px;
    height: 500px;
    background-size: cover;
}

div.imageCover {
    background-color: #222;
    opacity: 0;
    width: 470px;
    height: 470px;
    padding: 15px;
}

div.projectText:hover {
    background-color: grey !important;
}

.projectData {
    display: none;
    color: white;
    text-align: left;
}

a.projectData {
    color: skyblue;
}

div.projectText:hover .projectData {
    display: block;
}

div.projectText:hover div.imageCover {
    opacity: 0.85;
    -webkit-transition: opacity 500ms;
    -moz-transition: opacity 500ms;
    -o-transition: opacity 500ms;
    transition: opacity 500ms;
}

div#content {
    text-align: center;
}

div.clearFix {
    clear: both;
}