{% extends "base.js.html" %}

{% block title %} Info {% endblock %}

{% block content %}
    <h3> Nicholas Karl Hrynuik </h3>

    <img src="img/self2.png">
    <p>
        I am currently attending the University of Waterloo for Computer Science.
        I have experience creating mobile, software, and web based projects, most of which I have done independently and in my spare time.
        I have a passion for programming, basketball and lacrosse. <br><br>
        Links to social media, projects and email address:<br>
    </p>

    <ul>
        <li> <a href="info/resume4.pdf" target="_blank"> Resume </a></li>
        <li> <a href="https://github.com/karlwithak" target="_blank"> Github</a> </li>
        <li> <a href="https://twitter.com/2karl2" target="_blank"> Twitter </a></li>
        <li> Email: nick@hrynuik.com </li>
    </ul>
{% endblock %}
