{% extends "jinja2/base.j2.html" %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="../css/projects.css">
{% endblock %}

{% block title %} Nicholas Hrynuik - Projects {% endblock %}

{% block content %}
    <h1>Projects</h1>
    {% for project in projects %}
        <div class="projectBlock">
            <h2>{{ project.title }}</h2>
            <div class="projectText" style="background-image: url(img/{{ project.img }})">
                <div class="imageCover">
                    <p class="projectData">{{ project.date }}</p>
                    <p class="projectData">{{ project.about }}</p>
                    <span class="projectData">Technologies:</span>
                    <ul class="projectData">
                        {% for tech in project.technologies %}
                            <li>{{ tech }}</li>
                        {% endfor %}
                    </ul>
                    <a class="projectData" href="{{ project.link }}" target="_blank">
                        Check It Out
                    </a>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}